@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

body{
     border-radius: 15px;
    margin: 30px 28px;
      box-shadow: 0px 0px 40px rgba(213,0,0 ,1), 0px 0px 80px rgba(256,256,256 ,1);
    
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;   
     
}
h2, h4{
    text-align: center
}
 h4{
    font-size:22px;
     margin: 7px 0;
}
.arriba{
display: flex;
justify-content: space-between;
    
    margin-bottom: 15px;
  padding: 7px;
    
    
    
} 
.for-ul{
    list-style: none;
    
}
.first-li{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.third-li{
color: steelblue;
    list-style: disc;
    margin-left: 18px;
}
/**/
 
.aside{
    text-align: center;
    padding: 10px;
     
}
 
.main{
     display: flex;
    justify-content: space-around;
        
}
.article{
     border-radius: 10px;
    border:8px double black;
    
    margin-bottom: 10px;
    padding: 5px;
}
a{
    text-decoration: none;
}
.titulos{
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
     letter-spacing: 1.2px;
}
.cont-img{
    display: flex;
}
/*Education*/
.edu2{
display: flex;
    
}

.objetivo, .laboral{
   font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/*Ingles*/
.ingles{
    display: flex;
    justify-content: space-between;
}
/*SKILLS*/
.container2,.container3{
     width: 40px;  
            height: 20px;
            background:black;
            margin: auto;   
}
.container4{
     width: 40px;  
            height: 20px;
            background:grey;
            margin: auto;   
}
.container2{
     
            box-shadow:  240px 0px grey,
     180px 0px grey,
                120px  0px black,
                60px 0px black, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black
                 ;  
}
.container3{ 
      box-shadow:240px 0px grey,
     180px 0px grey, 
          120px  0px grey,
                60px 0px grey, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black   ;  
}
.container4{
      box-shadow: 240px 0px grey,
     180px 0px grey,
          120px  0px grey,
                60px 0px grey, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black ;  
}

@media all and (max-width: 900px){
    .container2,.container3,.container4{
     width: 20px;  
            height: 15px;
            background: grey;
            margin: auto ;   
}
    .container2{
     
            box-shadow: 60px  0px grey,
                30px 0px grey, 
                 -30px 0px black,
                    -60px 0px black,
                -90px 0px black, 
                 -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ;  
}
    .container3{ 
      box-shadow:60px  0px grey,
                30px 0px grey, 
                  -30px 0px grey,
                    -60px 0px black,
                -90px 0px black, 
                 -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ; 
}
.container4{
      box-shadow: 60px  0px grey,
                30px 0px grey, 
                -30px 0px grey,
                    -60px 0px grey,
                 -90px 0px grey, 
                   -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ; 
}

}