@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

body{
     border-radius: 15px;
    margin: 30px 28px;
      box-shadow: 0px 0px 40px rgba(213,0,0 ,1), 0px 0px 80px rgba(256,256,256 ,1);
    
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;   
     
}

/*titulos*/ /*titulos*/ /*titulos*/ /*titulos*/
h2, h4{
    text-align: center;
        text-shadow: 5px 2px 3px grey;
    margin-bottom: 7px;
}
 h4{
    font-size:22px;
     margin: 18px 0 18px 0;;
}
 .titulos{
    text-align: center;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
     letter-spacing: 1.2px; 
}
/*FIN titulos*/ /*FIN titulos*/ /*FIN titulos*/ /*FIN titulos*/ /*FIN titulos*/
.arriba{
display: flex;
justify-content: space-between;
      
} 
.for-ul{
    list-style: none;
    
}
.first-li{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.third-li{
color: steelblue;
    list-style: disc;
    margin-left: 18px;
}
/*MAIN*/
 
.aside{
    text-align: center;
    padding: 10px;     
}
.aside img {
      box-shadow: 4px 4px 10px;
    margin-bottom: 5px;
}
.main{
     display: flex;
    justify-content: space-around;
       margin-top: 7px; 
}
.article{
     border-radius: 10px;
    border:8px double black;
     padding: 5px;
}
a{
    text-decoration: none;
    color: blue;
}

.cont-img{
    display: flex;
    padding: 5px 35px 0 0;
}
.cont-img img{
     border-radius: 30%;
    box-shadow: 4px 4px 10px;
}
.cont-img p{
   color: black;
    margin-right: 5px;
    margin: 20px 15px 0 0;
    
}
/*Education*/
.edu2{
display: flex;
    
}

.objetivo, .laboral{
   font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/*Ingles*/
.ingles{
    display: flex;
    justify-content: space-between;
}
/*SKILLS*/
  @media (min-width: 921px) and (max-width: 1600px){
.container2,.container3{
     width: 40px;  
            height: 20px;
            background:black;
            margin: auto;   
}
.container4{
     width: 40px;  
            height: 20px;
            background:grey;
            margin: auto;   
}
.container2{
     
            box-shadow:  240px 0px grey,
     180px 0px grey,
                120px  0px black,
                60px 0px black, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black
                 ;  
}
.container3{ 
      box-shadow:240px 0px grey,
     180px 0px grey, 
          120px  0px grey,
                60px 0px grey, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black   ;  
}
.container4{
      box-shadow: 240px 0px grey,
     180px 0px grey,
          120px  0px grey,
                60px 0px grey, 
                 -60px 0px black,
                    -120px 0px black,
                -180px 0px black, 
                 -240px 0px black,
                 -300px 0px black ;  
}
}


/*------------------------------------------------*/
  @media (max-width: 1192px){
       body{
        box-shadow: 0 0 0 white;
    }
      
       
      .article{
          border: 0 solid white;
      }
      .Skills{
          margin: 0 0 0 50px;
      }
      
      .container2{
     width: 30px;  
            height: 15px;
            background: black;
            margin: auto ;   
}
      .container3,.container4{
     width: 30px;  
            height: 15px;
            background: grey;
            margin: auto ;   
}
  .container2{
     
            box-shadow: 80px 0px grey,
                40px 0px grey, 
                -40px 0px black,
                    -80px 0px black,
                -120px 0px black, 
                 -160px 0px black,
                 -200px 0px black,
                -240px 0px black,
                -280px 0px black  ;  
}  
      .container3{
            box-shadow: 80px 0px grey,
                40px 0px grey, 
                -40px 0px grey,
                    -80px 0px black,
                -120px 0px black, 
                 -160px 0px black,
                 -200px 0px black,
                -240px 0px black,
                -280px 0px black  ;  
      }   
      
      .container4{
            box-shadow: 80px 0px grey,
                40px 0px grey, 
                -40px 0px grey,
                    -80px 0px grey,
                -120px 0px black, 
                 -160px 0px black,
                 -200px 0px black,
                -240px 0px black,
                -280px 0px black  ;  
      }
    
}


@media all and (max-width: 480px){
    
    .celu{
        display: none;
    }
   
    .container2,.container3,.container4{
     width: 20px;  
            height: 15px;
            background: grey;
            margin: auto ;   
}
    .container2{
     
            box-shadow: 60px  0px grey,
                30px 0px grey, 
                 -30px 0px black,
                    -60px 0px black,
                -90px 0px black, 
                 -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ;  
}
    .container3{ 
      box-shadow: 60px  0px grey,
                30px 0px grey, 
                  -30px 0px grey,
                    -60px 0px black,
                -90px 0px black, 
                 -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ; 
}
.container4{
      box-shadow: 60px  0px grey,
                30px 0px grey, 
                -30px 0px grey,
                    -60px 0px grey,
                 -90px 0px grey, 
                   -120px 0px black,
                 -150px 0px black,
                -180px 0px black,
                -210px 0px black  ; 
}

}